<div class="wrapper">
    <div class="row city">
        <div class="col-12">
            <p class="text-center">Mumbai</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
             <p class="temperature">12</p>
        </div>
        <div class="col-6">
              <div class="details">
                <div><i class="fa fa-cloud" aria-hidden="true"></i>Partly cloudy</div>
                <div><i class="fa fa-fighter-jet" aria-hidden="true"></i>mph</div>
                <div><i class="fa fa-umbrella" aria-hidden="true"></i>0%</div>
              </div>
        </div>

    </div>

</div>